<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TM_Impronet_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <TM_Impronet_Interface.Properties.Settings>
            <setting name="Mappings" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="FirebirdDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Runner" serializeAs="String">
                <value />
            </setting>
            <setting name="RunnerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SQLConnectionString" serializeAs="String">
                <value>Server=.\SQLEXPRESS;Database=DB400;Trusted_Connection=True;</value>
            </setting>
            <setting name="UseSql" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TMPDatabaseLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MappingConfig" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DepAccessControlCode" serializeAs="String">
                <value />
            </setting>
            <setting name="DepTimeAndAttendanceCode" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncAccessControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncInterval" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SyncTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </TM_Impronet_Interface.Properties.Settings>
    </userSettings>
</configuration>
